$pur1: #D7C6F5;
$pur2: #8367B5;
$pur3: #422675;
$ama1: #F5F2C6;
$ama2: #A4A05E;
$ama3: #4B481B;

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}

.div1 {
    grid-area: 1 / 1 / 3 / 3;
    box-shadow: 1px 0px 10px $ama2;
}

.div2 {
    grid-area: 1 / 3 / 2 / 5;
    box-shadow: 1px 0px 10px $ama2;
    color: #F5F2C6;
    padding: 5%;
    border-radius: 5%;
    //typing effect
}

.div3 {
    grid-area: 2 / 3 / 4 / 5;
    box-shadow: 1px 0px 10px $ama2;

}

.div4 {
    grid-area: 3 / 1 / 4 / 3;
    box-shadow: 1px 0px 10px $ama2;
    color: #F5F2C6;
    padding: 5%;
    border-radius: 5%;
}

.div5 {
    grid-area: 4 / 1 / 6 / 3;
    box-shadow: 1px 0px 10px $ama2;

}

.div6 {
    grid-area: 4 / 3 / 5 / 5;
    box-shadow: 1px 0px 10px $ama2;
    color: #F5F2C6;
    padding: 5%;
    border-radius: 5%;
}

.div7 {
    grid-area: 5 / 3 / 7 / 5;
    box-shadow: 1px 0px 10px $ama2;

}

.div8 {
    grid-area: 6 / 1 / 7 / 3;
    box-shadow: 1px 0px 10px $ama2;
    color: #F5F2C6;
    padding: 5%;
    border-radius: 5%;
}