.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto; 
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9D7BFF;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

td {
    vertical-align: top; 
    padding: 10px;
}

.div1 {
    grid-area: 2 / 1 / 3 / 3; 
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px; 
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    padding: 5%;
}

.div2 {
    grid-area: 2 / 3 / 3 / 4;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
}

.div3 {
    grid-area: 3 / 1 / 4 / 4; 
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    padding: 5%;
}

.div4 {
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    padding: 5rem; 
}