$pur1: #D7C6F5;
$pur2: #8367B5;
$pur3: #422675;
$ama1: #F5F2C6;
$ama2: #A4A05E;
$ama3: #4B481B;

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5rem;
    padding: 5rem;
}

.Proof {
    grid-area: 1 / 1 / 4 / 2;
    text-align: center;
    padding: 2rem;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5%;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);

    img {
        width: 40rem;
    }
}

.Table {
    grid-area: 1 / 2 / 4 / 3;
    text-align: center;
    padding: 2rem;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5%;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9D7BFF;

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;

        ul {
            text-decoration: none;
            list-style: none;

            button {
                padding: 2%;
                border-radius: 70%;
            }
        }
    }

    .color {
        margin: 1rem;
        background: #6f4dad;
        border: solid 1px $pur3;
        width: 3rem;
        height: 3rem;
        border-radius: 15%;
    }

    .black {
        margin: 1rem;
        background: #6f4dad;
        border: solid 1px $pur3;
        width: 3rem;
        height: 3rem;
        border-radius: 15%;
    }

    .color:hover {
        filter: hue-rotate(180deg);
        transition: ease-in-out 0.5s;
        box-shadow: 1px 1px 10px $pur1;
    }

    .black:hover {
        filter: grayscale(70%);
        transition: ease-in-out 0.5s;
        box-shadow: 1px 1px 10px $pur1;
    }

    .color:active {
        background: #4B481B;
        transition: ease-in-out 0.1s;
    }

    .black:active {
        background: #22221f;
        color: white;
        transition: ease-in-out 0.1s;
    }

    select {
        border-radius: 5%;
        margin: 1rem;
        background: linear-gradient($pur2, $pur3);
        border: none;
    }

    select:hover:open {
        background: $pur2;
        transition: ease-in 0.01s;
    }

    button {
        margin: 1rem;
        background: #6f4dad;
        border: solid 1px $pur3;
        border-radius: 5%;
    }

    .Character:hover {
        transition: ease-in-out 0.5s;
        box-shadow: 1px 1px 10px $pur1;
    }

    .Background:hover {
        transition: ease-in-out 0.5s;
        box-shadow: 1px 1px 10px $pur1;
    }
}